body {
    background-image: url(https://img.besthqwallpapers.com/Uploads/8-5-2020/132562/nissan-gt-r-r35-supercars-tuning-2020-cars-violet-gt-r.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-size: cover;
   
}

.image {
   max-width: 300px;
   max-height: 300px;
}